body {
  padding-top: env(titlebar-area-height, 40px); /* Adjust height as needed */
}


.header, .footer {
  height: 60px;
  background-color: #c0c0c0; /* This will set the background to a light gray color, feel free to adjust this */
  display: flex;

}

.header {
	height:26px;
	justify-content: center;
	align-items: center;
}

/* Additional styles for header and footer content */
.header h2, .footer p {
  margin: 0;
}

.footer {
	height: 40px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .footer {
        /* display: none!important; */
    }
	
	#live-clock {
	display:none;	
	}
}




.container {
  max-width:100%;
  margin: 0;
}

@media only screen and (max-width: 768px) {
    .container {
        margin-left:2px;
		margin-right:2px;
    }
}

:root {
  --fallback-title-bar-height: 26px;
}

.draggable {
  app-region: drag;
  /* Pre-fix app-region during standardization process */
  -webkit-app-region: drag;
  width:100%;
}

.nonDraggable {
  app-region: no-drag;
  /* Pre-fix app-region during standardization process */
  -webkit-app-region: no-drag;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

#titleBarContainer {
  position: absolute;
  top: env(titlebar-area-y, 0);
  height: env(titlebar-area-height, var(--fallback-title-bar-height));
  width: 100%;
  background-color:#138496;
}

#titleBar {
  position: absolute;
  top: 0;
  display: flex;
  user-select: none;
  height: 100%;
  left: env(titlebar-area-x, 0);
  width: env(titlebar-area-width, 100%);

  color: #FFFFFF;
  font-weight: bold;
  text-align: left;
}

#titleBar > span {
  margin: auto;
  padding: 0px 16px 0px 16px;
}

#titleBar > input {
  flex: 1;
  margin: 8px;
  border-radius: 5px;
  border: none;
  padding: 8px;
}

#mainContent {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: env(titlebar-area-height, var(--fallback-title-bar-height));
  overflow-y: none;
  margin-top:30px;
}


.subtotal-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray; /* Set border width, style, and color */
    border-radius: 2mm;
    padding: 10px; /* Optional: Add padding to make it look better */
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.subtotal-container {
	left: 0;
    right: 0;
	margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content; /* Adjust width to fit content or set a specific width */
	width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 2mm;
    padding: 10px;
    background-color: white; /* Optional: Set background color */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Optional: Add shadow for better visibility */
}


#subtotalDisplay {
    font-size: 1.2em; /* Adjust as necessary */
}

.h1 {
    font-size: 3em; /* Adjust as necessary */
    margin: 0;
}

        #saleContainer {
            max-height: 600px; /* Adjust the max height as needed */
            overflow-y: auto; /* Enable vertical scrolling */
        }

        #saleTable {
            width: 100%;
            border-collapse: collapse; /* Ensure borders don't collapse into each other */
        }

        #saleTable thead {
            position: sticky;
            top: 0;
            z-index: 1; /* Ensure the header stays above the table content */
            background-color: gray; /* Ensure the background color matches the header */
            color: white; /* Ensure the text color matches the header */
        }

        #saleTable th, #saleTable td {
            padding: 8px;
            text-align: left;
            /*  border-bottom: 2px solid black; Add border to the header */
        }

        #saleTable tbody tr:nth-child(even) {
            background-color: #f2f2f2; /* Optional: Add striped rows for readability */
        }

#saleTable {
	height:120px;
}





#keypad-container {
	height:600px;
}

.keypad {
  margin-top:20px;
  /*margin: 10px;
  margin-right:5px; */
  padding:10px;
  border: 1px solid #ccc;
  border-radius:2mm;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  /* float:right; */
}

.key,
#enter,
#clear {
  height: 50px;
  border-radius:2mm;
}

#plu-input-container {
	color:white;
	background:gray; 
	margin-top:22px; 
	padding:3px;
	border-top-right-radius:2mm;
	border-top-left-radius:2mm;
	border-bottom:2px black;
	text-align:right;
}

#display {
  border-radius:2mm;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  grid-column: span 3;
  text-align: right;
  margin-top:5px;
  margin-bottom: 5px;
}


/* This will make the Sale Items list box and numeric keypad display side by side */
.flex-container {
  display: flex;
}

/* This will give a fixed height to the search results box so the other elements won't move when search results are displayed */
#items-list {
  height: 360px;
  overflow-y: auto; /* This will add a scrollbar when the content exceeds the height */
}

#items-list.list-group {
	font-size:24px;
	padding-bottom:10px;
	border:2px;
}

#subtotalDisplay {
    float: left;
}

input.quantity {
  width: 50px; /* adjust as needed */
}

 .modal-dialog,  {
  max-height: 80vh;
  height: 800px;
  display: flex;
  flex-direction: column;
  
}

#searchModal .modal-body {
  max-height: 80vh;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: flex-start; /* This ensures items start at the top vertically */
}


#productSearch,
#items-list {
  width: 100%;
}

  #members-list {
      max-height: 200px; /* Adjust as needed */
      overflow-y: auto;
  }
  
.sale-container {
  margin-top:20px;
  width:100%;
  height: 600px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius:2mm;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.sale-box {
  width:100%;
  height: 530px; /* Adjust to the fixed height you want */
  overflow: auto; /* This makes it scrollable if the content exceeds the fixed height */
}
/* set height of Item row in Sale List box */
.max-height-row {
  height: 60px !important;
  line-height: 20px;
  overflow: hidden;
}

.cell-max-height {
  height:60px;
  overflow: hidden;

  text-overflow: ellipsis; /* Show an ellipsis (...) for truncated content */
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}


.dummy-row {
  height: calc(100% - (30px * number-of-sale-rows)); /* Adjust the row height and calculation as needed */
}

.btn-remove {
	line-height:0.9;
	border-color: red;
	border-radius:3mm;
	color:red;
}

#memberModal .modal-body {
  max-height: 80vh;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: flex-start; /* This ensures items start at the top vertically */
}

  #members-list {
	  width:100%;
      max-height: 200px; /* Adjust as needed */
      overflow-y: auto;
  }

#receiptModal .modal-dialog {
  max-width: 90%; /* or any width you want */
  width: 50%; /* or any width you want */
}

@media only screen and (max-width: 768px) {
#receiptModal .modal-dialog  {
  max-width: 100%; /* or any width you want */
  width: 100%; /* or any width you want */
    }
}


#receiptModal .modal-body {
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: flex-start; /* This ensures items start at the top vertically */
}

@media only screen and (max-width: 768px) {
#receiptModal .modal-dialog  {
  max-width: 100%; /* or any width you want */
  width: 100%; /* or any width you want */
  max-height: 100vh;
    }
}

#modalReceiptContent {
	padding-top:230px;
    max-height: 600px;
    overflow-y: auto; /* This will introduce a vertical scrollbar when necessary */
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    align-items: center;
}

#receiptContentWrapper {
    margin: auto;
}

#receiptDisplay {
	background:white;
	padding:10 10 10 10;
    width: 300px;
    border: 1px solid black;
}

#receiptLogo { 
     display: block; 
     margin: 0 auto; 
}

#receiptHeader {
	text-align:center;
}

#receiptItems.td {
	margin-left:10px;
	margin-right:10px;
}

#receiptFooter {
	background:white;
	text-align:center;
}

.btn-footer {
	margin-top: 15px;
    white-space: nowrap;
    min-height: 40px;
}

.fast-keys-grid {
  /*width:100%;
  height: 550px;
  overflow-y: auto; */
  margin-top:15px;
  /*
  margin-right:30px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
    .fast-keys-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
		margin-bottom:60px;
    }
}

.fast-key {
  padding: 10px;
  font-size: 1em;
  border: none;
  background-color: #007f66;
  color: white;
  cursor: pointer;
  min-height:60px;
  max-height:60px;
  border-radius:2mm;
  line-height: normal;
}


.fast-key:hover {
  background-color: #009879;
}

.fastkey1 {
  background-color: #e9e9e9;
  color: black;
}

.fastkey2XX {
  color: white;
  background-image: url("https://myliquorstore.com.au/images/80686015406.png");
  /*background-size: 100%; /* To fill the dimensions of container (button), or */
  background-size: 50px auto;  to specify dimensions explicitly */
  
}

.task-keys-grid {
  /*width:100%;
  height: 550px;
  overflow-y: auto; */
  margin-top:15px;
  /*
  margin-right:30px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
    .tast-keys-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

.task-key {
  padding: 10px;
  font-size: 1em;
  border: none;
  background-color: lightgray;
  color: black;
  cursor: pointer;
  min-height:60px;
  max-height:60px;
  border-radius:2mm;
  line-height: normal;
}


.task-key:hover {
  background-color: gray;
}


.modal-product-detail {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe; 
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
}

.modal-content button {
  width: 100px;  /* adjust as needed */
  padding:5px;
  height: 50px;  /* adjust as needed */
  margin: 10px;
  display: inline-block; /* makes the buttons sit side by side */
}

.modal-content-dept button {
  width: 100px;  /* adjust as needed */
  padding:5px;
  height: 50px;  /* adjust as needed */
  margin: 10px;
  display: column; /* makes the buttons sit in column */
}

/* Optional: add some styles to make the buttons look nicer */
.modal-content button {
  /* background-color: #007bff; /* blue */
  border: none;
  /*color: white; */
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s; /* makes the color change animation smoother */
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #007bff; /* dark green */
}



#tabContainer {
  margin-top:70px;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 2mm;
}

@media only screen and (max-width: 768px) {
    #tabContainer {
       /* display: none!important; */
    }
}

.tab {
  margin-top:20px;
  padding: 10px 00px;
  padding-bottom:10px;
  background-color: #ddd;
  border: 1px solid #ccc;
  width: 20px;
  height: 160px;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  border-bottom-left-radius: 2mm;
  border-bottom-right-radius: 2mm;
  box-shadow: 2px -2px 5px rgba(0,0,0,0.3);
}

.tab:hover {
  background-color: #bbb;
}

.slideout {
  position: absolute;
  top: 0;
  right: -300px;
  width: 300px;
  height: 600px;
  transition: right 0.5s;
  overflow: hidden;
  background-color: #f9f9f9;
  padding: 20px;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
  border-radius:2mm;
  box-shadow: -2px 2px 5px rgba(0,0,0,0.3);
}

.slideout.open {
  right: 20px;
}

        #qrPOS {
            display: none; /* Initially hide the image */
        }

.modal-body {
    display: flex;
    justify-content: center;  /* Aligns horizontally in the center */
    align-items: center;      /* Aligns vertically in the center */
    height: 100%;             /* You might need to set an explicit height, or min-height, depending on your modal's setup */
}

.XXpayment-options {
	width: 120px;
}

#cash {
	  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

#card {
	  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

#mobile {
	display:none;
}

#direct {
	display:none;
}

@media only screen and (max-width: 768px) {
#mobile {
  display:block;
}
}


.spinner {
    border: 5px solid var(--light-gray, #f3f3f3); 
    border-top: 5px solid var(--primary-color, #3498db); 
    border-radius: 50%;
    width: 180px;
    height: 180px;
    animation: spin 1s linear infinite;
    /* Optional, depending on your design needs */
    margin: auto; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.success-tick {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #4CAF50; /* Green background */
    display: flex;
    align-items: center;
    justify-content: center;
}

.success-tick::before,
.success-tick::after {
    content: '';
    position: absolute;
    background-color: white;
}

/* Creating the tick */
.success-tick::before {
    width: 10px;
    height: 40px;
    transform: rotate(318deg) translateX(-38px) translateY(-5px);
    bottom: 40%;
    left: 50%;
}

.success-tick::after {
    width: 100px;
    height: 10px;
    transform: rotate(-45deg) translateX(-40px);
    bottom: 60%;
    left: 50%;
}

.error-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    z-index: 999;
}

.error-message {
    color: #ff0000;
    margin-bottom: 10px;
}

.error-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

@keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #c9c9c9;
    }
}

#display {
    border: none;
    outline: none;
}

#display:focus {
    animation: blink 0.8s step-end infinite;
    border-right: 20px solid #c9c9c9;
}

.selected-member {
    background-color: #d1ecf1 !important; /* Set your desired background color */
}


